body {
	font-family: Arial;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

/* index.html **************/
h1 {
	font-size: 40pt;
	margin: 0px 0px 0px 0px;
}

ul {
	list-style: none;
	margin-left: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

li {
	border: 0px solid red;
	text-align: left;
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	background-color: #EBF0F7;
}

.msgPostTime {
	font-weight: bold;
	margin-right: 5px;
}

.msgUserName {
	font-weight: bold;
}

.msgContent {
	display: inline-block;
	margin-top: 5px;
}

.error {
	display: none;
	margin: 5px 0px 5px 0px;
}

.textInput {
	display: box;
	width: 100%;
	height: 30px;
	margin: 0px 0px 0px 0px;
	padding-left: 5px;
	
}

.logIn {
	width: 200px;
	text-align: center;
	border: 0px solid red;
	padding: 5px 10px 5px 10px;
}

.logInButton {
	width: 209px;
	height: 30px;
}

#chat {
	border: 1px solid gray;
	background-color: #FFFFFF;
	max-width: 600px;
	height: 300px;
	overflow-y: auto;
}

#messageInput {
	width: 596px;
	min-height: 50px;
	display: block;
}

#wrapper {
	border: 0px solid green;
	margin: 20px 5%;
}

#header {
	border: 1px solid red;
	padding: 0px 0px 0px 0px;
}

#content {
	border: 0px solid blue;
}

#upperContent {
	border: 1px solid orange;
}

#lowerContent {
	border: 1px solid lime;
}

#footer {
	border: 1px solid purple;
}
/***************************/


