<a href="" onclick="event.preventDefault(); logOut();">Kirjaudu ulos</a>
<br/><br/>
<div id="chat">
	<ul	id="messageList">
	</ul>
</div>

<textarea id="messageInput"></textarea>
<input type="button" onclick="postMessage();" value="Lähetä" />

<script>
	$(document).ready(function() {
		initHandlers();
		//updateMessageList(false);
		initMessagePollTimer();
	});	
</script>