<div class="logIn">
	<form id="logInForm">
		<input type="text" class="textInput" name="userName" placeholder="Käyttäjätunnus"/>
		<br/>
		<input type="password" class="textInput" name="password" placeholder="Salasana"/>
		<br/>
		<div id="logInError" class="error">Virheellinen tunnus tai salasana</div>
		<br/>
		<input type="submit" id="logInButton" class="logInButton" value="Kirjaudu sisään"/>
	</form>
</div>
<script>
	$(document).ready(function() {
		initHandlers();
	});	
</script>